<!-- templates/home.html -->
{% extends "_base.html" %}
{% load static %}
{% block pageContent %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin's Try1</title>
    <link rel="stylesheet" href="static/css/landing.css" />
</head>

<body>
    <main>
        <section class="glass">
            <div class="Card1">
                <div class="Card1_inner">
                    <h3>Card1</h3>
                    <div class="Card1_Area">
                        <h4>Card 1 Area</h2>
                    </div>
                </div>
            </div>
            <div class="Card2">
                <div class="Card2_inner">
                    <h3>Card2</h3>
                    <div class="Card2_Area">
                        <h4>Area2</h2>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>
</body>


{% endblock %}