{% extends 'base.html' %}

{% block title %}Display Board List{% endblock %}

{% block content %}
<div class="row mb-2">
    <div class="col d-flex align-items-center" style="font-size: 24px; font-weight: 600;">
        Display Board List
    </div>
    <div class="col ml-auto d-flex justify-content-end">
        <!-- Button to trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
            <i class="fas fa-plus"></i>
            Create Display Board
        </button>

        <!-- Modal -->
        <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Display Board Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% include "display_board/create_display.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="display-table">
    {% include "display_board/list_display.html" with object_list=object_list %}
</div>

{% endblock %}