<nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'pages:landing' %}">
            Micross STS Tools
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                        href="{% url 'pages:under_dev' 'Operations' %}">Operations</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'pages:under_dev' 'Schedule' %}">Schedule
                                &raquo; </a>
                            <ul class="submenu dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'scheduler:index' %}">ATE Schedule</a></li>
                                {% comment %}
                                <li><a class="dropdown-item"
                                        href="{% url 'landing:under_dev' 'Environmental Schedule' %}">Environmental
                                        Schedule</a></li>
                                <li><a class="dropdown-item" href="{% url 'landing:under_dev' 'Bench Schedule' %}">Bench
                                        Schedule</a></li>
                                <li><a class="dropdown-item"
                                        href="{% url 'landing:under_dev' 'Assembly Schedule' %}">Assembly
                                        Schedule</a></li> {% endcomment %}
                            </ul>
                        </li>
                        {% comment %}
                        <li><a class="dropdown-item" href="{% url 'pages:under_dev' 'Inventory' %}">Inventory
                                &raquo; </a>
                            <ul class="submenu dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'landing:under_dev' 'ATE Inventory' %}">ATE
                                        Inventory</a></li>
                                <li><a class="dropdown-item"
                                        href="{% url 'pages:under_dev' 'Environmental Inventory' %}">Environmental
                                        Inventory</a></li>
                                <li><a class="dropdown-item" href="{% url 'pages:under_dev' 'Bench Inventory' %}">Bench
                                        Inventory</a></li>
                                <li><a class="dropdown-item"
                                        href="{% url 'pages:under_dev' 'Assembly Inventory' %}">Assembly
                                        Inventory</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'pages:under_dev' 'Data Tools' %}">Data Tools
                                &raquo; </a>
                            <ul class="submenu dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'pages:under_dev' 'ATE Data Tools' %}">ATE
                                        Data</a></li>
                                <li><a class="dropdown-item"
                                        href="{% url 'pages:under_dev' 'Environmental Data Tools' %}">Environmental
                                        Data</a></li>
                                <li><a class="dropdown-item" href="{% url 'pages:under_dev' 'Bench Data Tools' %}">Bench
                                        Data</a></li>
                                <li><a class="dropdown-item"
                                        href="{% url 'pages:under_dev' 'Assembly Data Tools' %}">Assembly Data</a>
                                </li>
                            </ul>
                        </li> {% endcomment %}
                    </ul>
                </li>
                {% comment %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                        href="{% url 'landing:under_dev' 'Engineering' %}">Engineering</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'landing:under_dev' 'Magic' %}">Where the magic
                                happens</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                        href="{% url 'landing:under_dev' 'Business Development' %}">Business Development</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'landing:under_dev' 'Cost Tracking' %}">Cost
                                Tracking &raquo; </a>
                            <ul class="submenu dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'landing:under_dev' 'PM Tools' %}">PM
                                        Tools</a></li>
                                <li><a class="dropdown-item"
                                        href="{% url 'landing:under_dev' 'Expandable' %}">Expandable</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {% endcomment %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Management</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'display_board:index' %}">Display
                                Boards</a></li>
                        {% comment %}
                        <li><a class="dropdown-item" href="{% url 'landing:under_dev' 'Hour Tracking' %}">Hour
                                Tracking</a></li> {% endcomment %}
                    </ul>
                </li>


            </ul>

            <ul class="navbar-nav ms-auto">
                {% if request.identity_context_data.authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status' %}">Hello {{ request.identity_context_data.username
                        }}!</a>
                </li>
                <li>
                    <a class="btn btn-warning" href="{% url 'sign_out' %}">Sign Out</a>
                </li>
                {% else %}
                <li>
                    <a class="btn btn-success" href="{% url 'sign_in' %}">Sign In</a>
                </li>
                {% endif %}
            </ul>
            <span style="padding-left: 10px;"></span>
            <a class="navbar-brand" href="#">
                <div class="logo-container">
                    <img src="/static/favicon/Micross_logo_short.png" alt="Logo" class="navbar-logo">
                </div>
            </a>
        </div>
    </div>
</nav>